<a href="https://colab.research.google.com/github/akheel143/SQL/blob/main/3_SQL_SELECT_Queries_and_Clause.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SELECT Queries**

The SELECT queries retrieve rows/columns data from one or more existing tables.

Syntax:
SELECT column1, column2,...columnN 
FROM table_name

Select All Columns


```
# SELECT * FROM Employee;
```
Select Specific Columns Data

```
# SELECT EmpId, FirstName, LastName FROM Employee;
```
Alias for Columns and Table

```
# SELECT EmpId "Employee Id", FirstName AS Name FROM Employee;
```
Operators in SELECT Statement


```
# SELECT EmpId, FirstName + ' ' + LastName AS "Full Name" 
FROM Employee;
```
FROM Clause


```
# SELECT * FROM Employee, Deparatment;

SELECT Employee.*, Department.* FROM Employee, Deparatment;

SELECT emp.*, dept.* FROM Employee emp, Deparatment dept; 

SELECT emp.FirstName, dept.DipartmentName FROM Employee emp, Deparatment dept;
```

**WHERE Clause**

The SELECT query can also have an optional WHERE clause to filter the data. The WHERE clause can include one or more boolean conditions to filter out data of the tables.

The WHERE clause always comes after the FROM clause and before GROUP BY, HAVING, and ORDER BY clauses.

Syntax:

SELECT column1, column2,...columnN 

FROM table_name

WHERE conditions

SELECT Query with WHERE Clause
```
# SELECT * FROM Employee 
WHERE Salary > 16000;
```
 BETWEEN Operator in WHERE Clause
```
# SELECT * FROM Employee 
WHERE Salary BETWEEN 15000 AND 20000;
```
Multiple Conditions in WHERE Clause

```
# SELECT * FROM Employee 
WHERE DeptId = 1 AND Salary > 20000;
```
Subquery in WHERE Clause
```
# SELECT * FROM Employee 
WHERE DeptId = (SELECT DeptId FROM Department WHERE Name = "HR");
```

Conditional Operators

The following operators can be used in the WHERE conditions.


Operator	Description

=	Equal

>	Greater than

<	Less than

>=	Greater than or equal

<=	Less than or equal

<> or !=	Not equal. In some databases, 
the != is used to compare values which are not equal.

BETWEEN	Between some range

LIKE	Search for a pattern

IN	To specify multiple possible values for a column

**GROUP BY Clause**


The GROUP BY clause is used to get the summary data based on one or more groups. The groups can be formed on one or more columns. For example, the GROUP BY query will be used to count the number of employees in each department, or to get the department wise total salaries.


You must use the aggregate functions such as COUNT(), MAX(), MIN(), SUM(), AVG(), etc., in the SELECT query. The result of the GROUP BY clause returns a single row for each value of the GROUP BY column.

Syntax:


SELECT column1, column2,...columnN FROM 

table_name

[WHERE]

[GROUP BY column1, column2...columnN]

[HAVING]

[ORDER BY]



```
# SELECT DeptId, COUNT(EmpId) as 'Number of Employees' 
FROM Employee
GROUP BY DeptId;

--following query will return same data as above
SELECT DeptId, COUNT(*) as 'No of Employees' 
FROM Employee
GROUP BY DeptId;
```



```
# SELECT dept.Name as 'Department', count(emp.empid) as 'No of Employees'
FROM Employee emp, Department dept
WHERE emp.deptid = dept.DeptId
GROUP by dept.Name
```



```
# SELECT dept.Name, sum(emp.salary) as 'Total Salaries'
FROM Employee emp, Department dept
WHERE emp.deptid = dept.DeptId
GROUP by dept.Name
```

**HAVING Clause**

The HAVING clause includes one or more conditions that should be TRUE for groups of records. It is like the WHERE clause of the GROUP BY clause. The only difference is that the WHERE clause cannot be used with aggregate functions, whereas the HAVING clause can use aggregate functions.

The HAVING clause always comes after the GROUP BY clause and before the ORDER BY clause.

Syntax:


SELECT column1, column2,...columnN 

FROM table_name

[WHERE]

[GROUP BY column1, column2...columnN]

[HAVING conditions]

[ORDER BY]



```
# SELECT DeptId, COUNT(EmpId) as 'Number of Employees' 
FROM Employee
GROUP BY DeptId;
```



```
#
SELECT DeptId, COUNT(EmpId) as 'Number of Employees' 
FROM Employee
GROUP BY DeptId;
HAVING COUNT(EmpId) > 2
```

**ORDER BY Clause**

The ORDER BY clause can be used in the SELECT query to sort the result in ascending or descending order of one or more columns.

Syntax:

SELECT column1, column2,...columnN 

FROM table_name

[WHERE]

[GROUP BY]

[HAVING]

[ORDER BY column(s) [ASC|DESC]]



```
# SELECT * FROM Employee
ORDER BY FirstName;
```


```
Sorting in Descending Order Copy
#SELECT EmpId, FirstName, LastName FROM Employee
ORDER BY FirstName DESC;
```


```
Sort by Multiple Columns
# SELECT * FROM Employee
ORDER BY DeptId;
```


```
Sort Group of Records
# SELECT dept.Name as 'Department', count(emp.empid) as 'No of Employees'
FROM Employee emp, Department dept
WHERE emp.deptid = dept.DeptId
GROUP by dept.Name
ORDER BY dept.Name DESC
```